:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

$screen-xs-max: 480px;
$screen-sm-min: 481px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;
$screen-lg-max: 1199px;
$screen-xl-min: 1200px;

.alert {
  padding: 2px 8px;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;
}

/* ! toast */
#toast-container {
  position: fixed;
  bottom: 20px !important;
  left: 30px !important;
  z-index: 99999999999;

  @media (max-width: $screen-sm-max) {
    top: 12% !important;
    left: 50% !important;
    bottom: unset !important;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .toast {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
  }
}

/* ! Bootstrap Overrides */
ul.tabs {
  display: flex;
  justify-content: space-around;
}

.nav-tabs {
  a {
    outline: none;
  }
}

/* ! MUI Overrides */
.MuiPopover-paper {
  margin-top: 7px;
}

.MuiButtonBase-root {
  outline: none !important;
}

.MuiCardMedia-root {
  background-size: contain !important;
}

#outlined-adornment-email {
  padding-right: 69px !important;
}

.MuiFormHelperText-root.MuiFormHelperText-contained.Mui-error {
  position: absolute;
  right: 0;
  top: 35%;
  transform: translateY(-50%);
}

.MuiPaper-elevation1,
.MuiCardActionArea-root {
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2),
    0px 1px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

/* ! ====================== Global Styles ====================== ! */
main {
  padding-top: 60px;

  >h2 {
    margin: 20px 0px 0px 0;
  }
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(229, 229, 229, 0.9);

  .home-nav {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    height: 60px;

    h5 {
      color: #000;
    }
  }

  .navbar-toggler {
    outline: none;

    &:active {
      outline: 5px auto -webkit-focus-ring-color;
    }
  }

  .navbar-brand.nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .nav-link.nav-admin {
    padding: 0;
    color: var(--primary-color) !important;

    &:hover {
      color: rgba(0, 0, 0, 0.6) !important;
    }
  }

  @media (min-width: $screen-md-min) {
    .nav-profile {
      align-items: center;
      display: flex;

      ul {
        display: flex;
        text-align: center;
      }
    }
  }

  @media (max-width: $screen-md-min) {
    .navbar-nav {
      a {
        padding: 0.2rem 0.4rem !important;

        &.nav-link {
          color: rgba(0, 0, 0, 0.6);

          &:hover {
            color: rgba(0, 0, 0, 0.8) !important;
          }
        }
      }
    }
  }

  @media (max-width: $screen-md-max) {
    .home-nav {
      height: unset;

      img {
        width: 150px;
      }
    }

    .nav-profile {
      ul {
        display: unset;
        margin-right: 5px !important;
      }

      h5 {
        font-size: 16px;
      }

      a {
        font-size: 15px;
      }
    }
  }
}

.main-padding {
  &:nth-of-type(odd) {
    padding: 40px 0 40px 0px;
  }

  >h2 {
    margin: 10px 0px 20px 0;
  }
}

.each-item {
  margin-bottom: 20px;

  &:hover {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
  }
}

/* ! ====================== Home page ====================== ! */

.home-banner {
  background: url(./assets/home-banner.png);
  background-size: cover;
  min-height: 100vh;
  width: 100%;

  @media (max-width: $screen-sm-max) {
    h4 {
      font-size: 22px;
    }

    small {
      color: black !important;
      background-color: rgba(#fff, 0.5);
      border-radius: 5px;
      padding: 0 5px;
    }
  }
}

.slogan {
  background: url(./assets/slogan.png);
  width: 445px;
  margin: auto;
  height: 115px;

  @media (min-width: $screen-md-min) {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: $screen-sm-max) {
    margin: 30px auto 0;
  }

  @media (max-width: $screen-xs-max) {
    background-size: contain;
    background-repeat: no-repeat;
    height: 98px;
    width: 375px;
  }
}

/* ! ====================== Categories Page ====================== ! */
.categories {
  .each-category {
    p {
      font-size: 20px;
    }

    transition: 0.2s all ease-in-out;
    @extend .each-item;

    &:hover {
      color: var(--primary-color);
    }
  }
}

/* ! ====================== Author Page ====================== ! */
.each-author-book {
  padding: 20px 0;

  &:not(:last-child) {
    border-bottom: 2px solid #ccc;
  }
}