:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.alert {
  padding: 2px 8px;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}


.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ! toast */
#toast-container {
  position: fixed;
  bottom: 20px !important;
  left: 30px !important;
  z-index: 99999999999;
}

.toast {
  opacity: 0.8 !important;
  font-weight: bold;
  /*  margin: auto;
  z-index: 99999999999; */
}

/* ! MUI Overrides */
.MuiPopover-paper {
  margin-top: 7px;
}

/* ! Bootstrap Overrides */
ul.tabs {
  display: flex;
  justify-content: space-around;
}